$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;

}

/* Everything but the jumbotron gets side spacing for mobile first views */

img{
  margin:0 auto;
  display: block;
  margin-top: 36px;
}
.header-2{
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar-default{
  margin-top: 27px;

}
 .navbar-nav {
   width: 100%;
   text-align: center;
   font-size: 10px;
  //  background-color: white;
   background: rgba(255, 255, 255, 0);
   > li {
     float: none;
     display: inline-block;
     color:red;
   }
 }
 .dropdown{
    text-align: center;
 }
 .container{
  background-image: url("../pencils1.jpeg");
  // background-repeat: no-repeat;
  background-size: contain;;
  height: 445px;
  width:100%;
 }
 .input-group{
   display: inline-flex;
   margin-left: -5px;
   .search-box{
    //  width:276px;
     background-color: black;
   }
 }

 .stationery-images{
   width:100%;
   display: inline-block;
   margin-top: 25px;
 }

  .promotions-images{
    float: left;
    margin-top: 0px;
    width: 50%;
  }
  .latest-news-images{
    float: right;
    margin-top: 0px;
    width: 50%;
  }

  .first-row-images{
    width:50%;
    margin: 0 auto;
    padding-top: 44px;
      .educational{
        float: left;
        margin-top: 0px;
        width: 50%;
      }
      .for-school{
        float: right;
        margin-top: 0px;
        width: 50%;
      }
  }

  .second-row-images{
    width:50%;
    margin: 0 auto;
    .sa-favourite{
      float: left;
      margin-top: 0px;
      width: 40%;
      height: 230px;;;
    }
    .new-arrivals{
      float: left;
      margin-top: 0px;
      width: 20%;
      height: 230px;;;
    }
    .trent-stationery{
      margin-top: 0px;
      width: 40%;
      height: 230px;;;
    }
  }

  .third-row-images{
    width:50%;
    margin: 0 auto;
    .browse{
      float: left;
      margin-top: 0px;
      width: 60%;
      height: 313px;;;
    }
    .sign-up{
      float: right;
      margin-top: 0px;
      width: 40%;
      height:641px;;;
    }
  }

.connect{
  background-color: black;
  height:641px;
  color: white;
  font-size: 25px;
  .connect-content{
    text-align: center;
  }
  .connect-content1{
    text-align: center;
    // padding-top: 47px;
  }
  .connect-content-with-us{
    padding-top: 47px;
    font-size: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }
 }

 .bottom-border{
   width:100%;
   background-color: black;
   padding-top: 100px;
   margin-top: 20px;
   height:300px;
   color: white;
   font-size: 25px;
 }

   .store-locator-btn{
     background-color: red;
     color: white;
     margin: 0 auto;
     display: block;
     margin-top: 47px;
   }

  .promotions{
    width:50%;
    background-image: url("../crayons.jpeg");
  }
  .latest-news{
    width:50%;
    background-image: url("../pna-logo.png");
  }
  .color-your-world{
    text-align: center;
    font-size: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .text-container{
    margin: 0 auto;
    text-align: center;
    width:81%;
    margin-top: 40px;
  }
  .join-btn{
    background-color: black;
    color: white;
  }
  .shout-btn{
    background-color: red;
    color: white;
  }
  .group-buttons{
    text-align: center;
    padding-top: 24px;
  }

.ul-header{
  color: red;
  text-align: center;
}

table{
  width: 50% !important;
  margin: 0 auto;
  margin-top: -50px;
  font-size: 11px;
}
  .table-header{
    color: red;
  }

  .table-data{
    color: grey;
  }

  .btn-raise-funds{
    background-color: red;
    color: black;
    font-size: 10px;
  }
